@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #f66135;
  --secondary: #52606d;
}

body {
  color: #000000;
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


